[color]
    diff = auto
    status = auto
    branch = auto
[user]
    name = Sébastien LAVENANT
    email = lavenant@s3b.fr
[alias]
    ci = commit
    st = status
    co = checkout
    br = branch
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s%Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    diffc = diff --cached
    amend = commit --amend
    undo = reset HEAD^1
    clean-branch = "!git branch --merged | grep -v 'master' | grep -v '*' > /tmp/merged-branches && vi /tmp/merged-branches && xargs git branch -d </tmp/merged-branches"
    branch-clean-merged = "!git branch --merged | grep -v 'master' | grep -v '*' > /tmp/merged-branches && vi /tmp/merged-branches && xargs git branch -d </tmp/merged-branches"
    branch-clean-deleted = "!git branch -vv | grep ': disparue]'|  grep -v '*' | awk '{ print $1; }' > /tmp/deleted-branches && vi /tmp/deleted-branches && xargs git branch -D </tmp/deleted-branches"
    branch-reset = "!git branch | grep -v 'master' | grep -v '*' > /tmp/merged-branches && vi /tmp/merged-branches && xargs git branch -D </tmp/merged-branches"
    pusho = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
    cancel = "! git reset .; git co -- .; git clean -fd"
[core]
    editor = vim
    fileMode = false
[push]
    default = current
[pull]
    default = current
